h3{
    font-size: 30px !important;
}

button:hover{
    background-color:chartreuse;

}

canvas{
    animation-name: hello;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes hello {
    from{box-shadow: 1px 1px 60px red;}  
    to{box-shadow: 1px 1px 60px gold;}
}